<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script defer
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script defer src="/scripts/main.js"></script>
    <title>Pagan Idol</title>
</head>
<body>
    <h1>Welcome, to the Pagan Idol!</h1>
    <!-- first name, last name, email -->
    <main class="container">
    <form id="newForm">
       <div class="textfield"> 
            <div class="col-md-4">
                <label for="first-name"></label>
                <input type="text" class="form-control form-control-sm" id="first-name" name="first-name" placeholder="First Name"/>
            </div>
            <div class="col-md-4">
                <label for="last-name"></label>
                <input type="text" class="form-control form-control-sm" id="last-name" name="last-name" placeholder="Last Name"/>
            </div>
            <div class="col-md-4">
                <label for="email"></label>
                <input type="email" class="form-control form-control-sm" id="email" name="email" placeholder="Enter Email">
            </div>
       </div>
​
​
​
        
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Happy Hour Deals!</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="customCheck2">
            <label class="custom-control-label" for="customCheck2">Featured Cocktails!</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="customCheck3">
            <label class="custom-control-label" for="customCheck3">Featured Tikitender!</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="customCheck4">
            <label class="custom-control-label" for="customCheck4">Events!</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="customCheck5">
            <label class="custom-control-label" for="customCheck5">Daily</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="customCheck6">
            <label class="custom-control-label" for="customCheck6">Weekly</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="customCheck7">
            <label class="custom-control-label" for="customCheck7">Monthly</label>
        </div>
        <button>Sign me up!</button>
    </form>
</main>
</body>
</html>