<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!-- jQuery -->
    <script defer
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script defer src="/scripts/main.js"></script>
    <title>Pagan Idol</title>
</head>
<body>
<header>
        <div class="title">
                <img id="headImg" src="/images/PaganIdolLogo.png" alt="Pagan Idol">
            </div>
</header>
​
    <!-- Hero -->
    <section class="hero">
       
    </section>
​
    <section class="header">
        <h2>Craft Yourself the Perfect Newsletter</h2>
        <p>Select your favorite topic below so that we can send you a personalized newsletter!</p>
    </section>
​
    <!-- first name, last name, email -->
    <section id="topics" class="container3">
             <div id="happy">
                 <!-- <span>Happy Hour</span> -->
                <button  type="button"><img id="happyImg" src="/images/HappyHour-1.png" alt="Happy Hour"></button>
            </div>
            <div id="cocktail">
                <!-- <span>Featured Cocktail</span> -->
                <button type="button"><img id="cocktailImg" src="/images/Cocktail-1.jpg" alt="Featured Cocktails"></button>
            </div>
            <div class="topic">
                <!-- <span>Featured Tikitender</span> -->
                <button type="button"><img id="tikitenderImg" src="/images/Tikitender-1.jpg" alt="Featured Cocktails"></button>
            </div>
            <div class="topic">
                <!-- <span>Events</span> -->
                <button type="button"><img id="eventsImg" src="/images/Events-1.jpg" alt="Featured Cocktails"></button>
            </div>
    </section>
​
    <section class="header">
            <h2>How often do you want to hear from us?</h2>
        </section>
        <section>
            <form class="container4">
                <div class="custom-control custom-radio">
                    <input type="radio" id="customCheck5" name="radios">
                    <label for="customCheck5">Daily</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customCheck6" name="radios">
                    <label for="customCheck6">Weekly</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customCheck7" name="radios">
                    <label for="customCheck7">Monthly</label>
                </div>
            </form>
        </section>
​
        <section class="header">
            <h2>Where should we send your newsletter?</h2>
        </section>
<form id="newForm">
 <section class="container2">
        <div class="col-md-4">
            <label for="first-name"></label>
            <input type="text" class="form-control form-control-sm" id="first-name" name="first-name" placeholder="First Name"/>
        </div>
        <div class="col-md-4">
            <label for="last-name"></label>
            <input type="text" class="form-control form-control-sm" id="last-name" name="last-name" placeholder="Last Name"/>
        </div>
    </section>
    <section class="container">
        <div class="col-md-4">
            <label for="email"></label>
            <input type="email" class="form-control form-control-sm" id="email" name="email" placeholder="Enter Email">
        </div>
        
        <button class="butn">Sign me up!</button>
    </section>
    </form>
​
</body>
</html>